# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Variáveis locais (podem conter secrets)
*.tfvars
*.tfvars.json

# Logs
crash.log
crash.*.log

# Overrides locais
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc
